
@{
    ViewBag.Title = "PorAlumno";
}


<main>


    <div class="container Marco">
        <div style="margin-bottom: 20px;">
            <center>
                <h1 class="title">   Reporte por alumno</h1>
            </center>
        </div>
        <div class="columns">
            <div class="column is-one-quarter" style=" height: 25em;">
                <div class="box">
                    @using (Html.BeginForm(null, null, FormMethod.Post))
                    {

                        <div class="field">
                            <label class="label">Matrícula</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Ingrese una matrícula" name="M" maxlength="11" id="M">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Fecha Inicial</label>
                            <div class="control">
                                <input class="input" type="date" name="FI" id="FI">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Fecha Final</label>
                            <div class="control">
                                <input class="input" type="date" name="FF" id="FF">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button type="button" class="button is-primary" onclick="Validar()">Buscar</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="column este2">

                <div id="chart"></div>

            </div>
        </div>
    </div>

</main>


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>

    function Validar() {
        var numa = 0;
        var matricula = document.getElementById("M").value;
        var FI = document.getElementById("FI").value;
        var FF = document.getElementById("FF").value;
        var alerta = "Debes especificar: \n";


        if (matricula == "") {
            alerta += "-Matricula\n";
            numa += 1;
}
        if (isNaN(Date.parse(FI)) || isNaN(Date.parse(FF))) {
            alerta += "-Rango de fecha adecuado\n";
            numa += 1;
        }
        if (numa > 0) {
            alert(alerta);

        } else { TraerDatos(); }
        

    }
    function TraerDatos() {
    var matricula = document.getElementsByName("M")[0].value;
    var fechaInicial = document.getElementsByName("FI")[0].value;
    var fechaFinal = document.getElementsByName("FF")[0].value;

    var formData = new FormData();
    formData.append("M", matricula);
    formData.append("FI", fechaInicial);
    formData.append("FF", fechaFinal);

        fetch('@Url.Action("TraerDatos", "Reportes")', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({matricula:matricula, fechaInicial:fechaInicial, fechaFinal:  fechaFinal})

        })
            .then(response => response.json())
            .then(data => {
                var chartElement = document.getElementById('chart');
                chartElement.innerHTML = '';
          RAJ(data);
          
              })
            .catch(error => {
            console.error("Error:", error);
    });
}


    function RAJ(json) {
        var data = json;
        var options = {
            series: [],
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '55%',
                    endingShape: 'rounded'
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
            },
            xaxis: {
                categories: []
            },
            yaxis: {
                title: {
                    text: 'Total de justificantes'
                }
            },
            fill: {
                opacity: 1
            },
            title: {
                text: [],
                align: 'center',
                margin: 10,
                offsetX: 0,
                offsetY: 0,
                floating: false,
                style: {
                    fontSize: '16px',
                    fontWeight: 'bold',
                    fontFamily: undefined,
                    color: '#263238'
                },
            }
        };
        var categoriasUnicas = new Set();
        var titulo = new Set();
        data.forEach(function (dato) {
            if (!categoriasUnicas.has(dato.Año)) {
                options.xaxis.categories.push(dato.Año);
                categoriasUnicas.add(dato.Año);
            }
            var existingSerie = options.series.find(function (serie) {
                return serie.name === dato.MesNombre;
            });

            if (!existingSerie) {
                existingSerie = {
                    name: dato.MesNombre,
                    data: []
                };
                options.series.push(existingSerie);
            }
            var serieData = Array.from({ length: options.xaxis.categories.length }, (_, index) => {
                return existingSerie.data[index] || 0;
            });
            serieData[categoriasUnicas.size - 1] = dato.Total;
            existingSerie.data = serieData;

            if (!titulo.has(dato.Nombre)) {
                options.title.text.push(dato.Nombre);
                titulo.add(dato.Nombre);
            }
            
        });

        console.log(options);
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    }
</script>