<div class="container">
    <div class="Marco">
        <div class="columns">
            <div class="column is-2-4">
                <div class="field">
                    <div class="control">
                        <div class="select" style=" width: 100%">
                            <select name="Motivo" id="Motivo">

                                <option value="" style="display: none;">Seleccionar motivo</option>
                                <option value="ACTIVIDADES EXTRACURRICULARES">Actividades extracurriculares</option>
                                <option value="FAMILIAR">Familiar</option>
                                <option value="MÉDICO">Médico</option>
                                <option value="PERSONAL">Personal</option>
                                <option value="VIAJE EDUCATIVO">Viaje educativo</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-2-4">

            </div>
        </div>
    </div>
</div>
