
@{
    ViewBag.Title = "Justificante";
}

<main>

   

    <div class="container Marco">
        <div style="margin-bottom: 20px;">
            <center>
                <h1 class="title">Nuevo justificante</h1>
            </center>
        </div>

        @using (Html.BeginForm("Buscar", "Justificantes", FormMethod.Post))
        {
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Alumno</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" type="text" name="matricula" placeholder="Escribe la matrícula" maxlength="11" id="txtmatricula">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button type="submit" class="button button-link is-primary">Buscar</button>
                        </p>
                    </div>
                </div>
            </div>
        }

        <form class="este">

            @Html.Partial("_Alumno")

           
        </form>

    </div>


</main>
<script>
    // Deshabilitar el bloque de "Extendida" al cargar la página
    document.getElementById('extendidaFields').style.display = 'block';
    document.getElementById('fechaDelDia').disabled = true;
    document.getElementById('fechaAlDia').disabled = true;

    function habilitarFecha() {
        document.getElementById('fecha').disabled = false;
        document.getElementById('extendidaFields').style.display = 'block';
        document.getElementById('fechaDelDia').disabled = true;
        document.getElementById('fechaAlDia').disabled = true;
    }

    function habilitarExtendida() {
        document.getElementById('fecha').disabled = true;
        document.getElementById('extendidaFields').style.display = 'block';
        document.getElementById('fechaDelDia').disabled = false;
        document.getElementById('fechaAlDia').disabled = false;
    }
</script>
