
@{
    ViewBag.Title = "Justificante";
}

<main>

   

    <div class="container Marco">
        <div style="margin-bottom: 20px;">
            <center>
                <h1 class="title">Nuevo justificante</h1>
            </center>
        </div>

        @using (Html.BeginForm("Buscar", "Justificantes", FormMethod.Post, new { onsubmit = "return validarMatricula();"}))
        {
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Alumno</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" type="text" name="matricula" placeholder="Escribe la matrícula" maxlength="11" id="txtmatricula">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button type="submit" class="button button-link is-primary">Buscar</button>
                        </p>
                    </div>
                </div>
            </div>
        }

        @using (Html.BeginForm("GenerarJ", "Justificantes", FormMethod.Post, new { @class = "este", enctype = "multipart/form-data" }))
        {
            @Html.Partial("_Alumno")


        }



    </div>


</main>
<script>
    // Deshabilitar el bloque de "Extendida" al cargar la página
    document.getElementById('extendidaFields').style.display = 'block';
    document.getElementById('fechaDelDia').disabled = true;
    document.getElementById('fechaAlDia').disabled = true;

    function habilitarFecha() {
        document.getElementById('fecha').disabled = false;
        document.getElementById('extendidaFields').style.display = 'block';
        document.getElementById('fechaDelDia').disabled = true;
        document.getElementById('fechaAlDia').disabled = true;
    }

    function habilitarExtendida() {
        document.getElementById('fecha').disabled = true;
        document.getElementById('extendidaFields').style.display = 'block';
        document.getElementById('fechaDelDia').disabled = false;
        document.getElementById('fechaAlDia').disabled = false;
    }

    function validarMatricula() {
        var matricula = document.getElementById("txtmatricula").value;
        if (matricula.trim() === "") {
            alert("Debes ingresar la matrícula del alumno a buscar.");
            return false;
        }
        return true;
    }

    // Obtén el elemento de entrada de archivo y el elemento del nombre del archivo
 //   const fileInput = document.getElementById("fileToUpload");
   // const fileNameElement = document.getElementById("file-name");

    // Agrega un evento de cambio al campo de entrada de archivo
   // fileInput.addEventListener("change", function () {
        // Verifica si se seleccionó un archivo
     //   if (fileInput.files.length > 0) {
            // Actualiza el elemento del nombre del archivo con el nombre del archivo seleccionado
       //     fileNameElement.textContent = fileInput.files[0].name;
        //} else {
            // Si no se selecciona ningún archivo, muestra el mensaje predeterminado
          //  fileNameElement.textContent = "No se ha seleccionado un archivo";
        //}
    //});
</script>
