
@{
    ViewBag.Title = "View";
}

<main>

    <div class="container Marco">
        <div style="margin-bottom: 20px;">
            <center>
                <h1 class="title">Nuevo pase de salida</h1>
            </center>
        </div>
        @using (Html.BeginForm("BuscarP", "Justificantes", FormMethod.Post))
        {
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Alumno</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" type="text" name="matricula" placeholder="Escribe la matrícula" maxlength="11" id="txtmatricula">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button type="submit" class="button button-link is-primary">Buscar</button>
                        </p>
                    </div>
                </div>
            </div>
        }
        <form class="este">

            @Html.Partial("_AlumnoTutor")

        </form>

    </div>


</main>

<script>
    // Deshabilitar el bloque de "Extendida" al cargar la página
    document.getElementById('otroFields').style.display = 'block';
    document.getElementById('parentezco').disabled = true;
    document.getElementById('nombreA').disabled = true;

    function habilitarRegistrado() {
        //   document.getElementById('autorizo').disabled = true;
        document.getElementById('otroFields').style.display = 'block';
        document.getElementById('parentezco').disabled = true;
        document.getElementById('nombreA').disabled = true;
    }

    function habilitarOtro() {
        //  document.getElementById('autorizo').disabled = true;
        document.getElementById('otroFields').style.display = 'block';
        document.getElementById('parentezco').disabled = false;
        document.getElementById('nombreA').disabled = false;
    }
</script>