.Marco {
    border: 1px solid #409e6f;
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
    background-color: #ffffff;
}

select {
    width: 100%;
}

.column.is-2-4 {
    flex: 2;
}

body {
    /*background-image: linear-gradient(to bottom, #1B396A, #ffffff);*/
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: fixed; /* Hace que la barra de navegación sea fija */
    width: 100%; /* Ocupa el 100% del ancho de la pantalla */
    top: 0; /* Establece la posición en la parte superior de la pantalla */
    z-index: 1000; /* Asegura que la barra de navegación esté en la parte superior de los demás elementos */
    height: 10%;
}

/*------------------------------------------------------------------------------------------*/

.login-container {
    max-width: 40%;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.custom-box {
    width: 70%; /* Cambia el ancho del cuadro según tus preferencias */
    padding: 10px; /* Ajusta el espaciado interno */
}

.custom-image {
    width: 100%; /* Ancho al 100% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
}

/* Estilo específico para los botones generados por ActionLink */
.button-link {
    background-color: #1B396A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-display: revert;
    font-weight: bold;
    text-decoration: none; /* Anula la subrayado */
}

    /* Otros estilos para los botones si es necesario */
    .button-link:hover {
        color: white;
        background-color: #007bff;
        text-decoration: none; /* Cambia el color de fondo al pasar el mouse */
    }



.rounded-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px; /* Ajusta el valor para hacer las esquinas más redondas */
    cursor: pointer;
}
