
@{
    ViewBag.Title = "Login";
}
<main>
    <center>
        <div class="login-container" style="max-width: 70%; height: auto;">
            <div class="content">

                <img src="https://ww2.freelogovectors.net/wp-content/uploads/2023/01/conalep-logo-freelogovectors.net_.png" style="max-width: 100%; height: auto;">
                @if (Request.IsAuthenticated) { }else
                {<text>    <a class="button is-rounded button-link " style="height: auto; max-width: 100%; " href="@Url.Action("Index", "Home")">Iniciar sesión</a>
                </text>
            }
            </div>
        </div>
    </center>
</main>