@{
    ViewBag.Title = "Home Page";
}


<main>
    <center>

        <div class="content" style="padding:10%">

            <!--<img src="https://ww2.freelogovectors.net/wp-content/uploads/2023/01/conalep-logo-freelogovectors.net_.png" style="max-width: 70%; height: auto;">-->
            <img src="https://www.cdcuauhtemoc.tecnm.mx/wp-content/uploads/2021/08/LOGO-VERTICAL-TECNM.png" style="max-width: 70%; height: 80%; margin-top: -10%; margin-bottom: -10%">

        </div>

    </center>
</main>